footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height : 200px;
    background-color: #2E9191;
    text-align: center;
    color: white;
}

footer img {
    
    width: 50px;
}