#project {
    padding: 40px 40px 60px 40px;
  
}

#project .container {
    margin: auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


#project .change-project {
    width: 150px;
    height: 300px;
    background-color: #2E9191;
    border: none;
}

.change-project:hover {
    cursor: pointer;
}

.thumbnail-container {
    width: 600px;
    height: 400px;
}

#btn-thumbnail {
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: white;
    border-color: #095252;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 1px 4px 4px;
    border-style: solid;


}

#btn-thumbnail img {
    max-width: 600px;
}

.thumbnail-title {
    margin-top: 30px;
    width: 100%;
    background-color: #095252;
    border-radius: 0 0 17px 17px;
    border : solid 2px;
    border-color:#095252;
}

#btn-thumbnail h3 {
    padding: 20px;
    font-size: 20px;
    text-align: left;
    color: white;
}

#project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
}

#project-container button {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 40px;
    top: 40px;
    background-color: white;
    background-image: url('../../public/assets/icons/close.png');
    background-size: cover;
    border: none;
}

#project-container button:hover {
    cursor: pointer;
}

#project-container h2, h3, h4{
   color: #095252;
}
#project-container h2 {
    margin-top: 100px;
   font-size: 70px;
}

#project-container h3 {
    font-size: 26px;
}
#project-container h4 {
    margin-top: 20px;
    font-size: 18px;
}

#project-container img {
    width: 1000px;
    margin-top: 50px;
}

.project-description {
    width: 1000px;
    padding: 30px 50px;
    background-color:#E3F9F9;
}

@media screen and (max-width:1200px) {

  
    #btn-thumbnail img {
        width: 400px;
    }

    #project .change-project  {
        width: 100px;
        height: 200px;
    }

    .thumbnail-container {
        width: 500px;
        height: 300px;
    }
}